version: '3.8'

services:
  ioteste-broker:
    image: eclipse-mosquitto:2.0
    container_name: ioteste-broker
    ports:
      - "1883:1883"
    # Monta el archivo de configuración local para permitir conexiones anónimas
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: always

  ioteste-app:
    build: .
    container_name: ioteste-app
    # Asegura que el contenedor de la aplicación se construya y se inicie
    # después de que el broker haya sido iniciado.
    depends_on:
      ioteste-broker:
        condition: service_started
    restart: on-failure

# Docker Compose creará una red interna llamada 'prototipo-v2_default'
# donde 'ioteste-app' puede usar el nombre 'ioteste-broker' para conectarse.