version: '3.8'

services:
  ioteste-broker:
    image: eclipse-mosquitto:2.0
    container_name: ioteste-broker
    ports:
      - "1883:1883"
    
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: always

  ioteste-app:
    build: .
    container_name: ioteste-app
    
    
    environment:
      - RUN_ENVIRONMENT=DOCKER 
    

    depends_on:
      ioteste-broker:
        condition: service_started
    restart: on-failure