
services:
  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"     # Puerto MQTT
      - "9001:9001"     # WebSocket (opcional)
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: unless-stopped

  #si se llega a usar docker en la app principal
  # app:
  #   build: ./app
  #   depends_on:
  #     - mqtt-broker
  #   environment:
  #     - MQTT_BROKER_HOST=mqtt-broker
  #     - MQTT_BROKER_PORT=1883
  #   ports:
  #     - "8080:8080"
